@import './modules/colors';

.search {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 30px;

  input {
    padding: 5px 10px;
  }

  button {
    background: $primary;
    color: #fff;
    font-size: 14px;
  }
}